<<<<<<< HEAD
<html>
  <head>
    {{ content_for_header }}
  </head>
  <body>
    {% section 'announcement-bar' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
=======
<html>
  <head>
    {{ content_for_header }}
  </head>
  <body>
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
>>>>>>> 2e0bda9a50db3338627ee5a4ebae977b5a35ee86
