<<<<<<< HEAD
<section>
  <h1>hellow world</h1>
</section>

{% schema %}
{
  "name": "banner",
  "settings": [],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}
=======
<section>
  <h1>Hello world</h1>
</section>

{% schema %}
{
  "name": "banner",
  "settings": [],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}
>>>>>>> 2e0bda9a50db3338627ee5a4ebae977b5a35ee86
