{% if section.settings['title'] %}
  <section>
    <h1>hello world 2</h1>
  </section>
{% endif %}

{% schema %}
{
  "name": "banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "hello"
    }
  ],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}
